<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<%= mix('/assets/css/app.css') %>">
  <title><%= title %></title>
</head>
<body>
  <% /*
  In development, if SVG is included in EJS,
  injection of changes such as CSS by BrowserSync is prevented
  Because svg-spritemap-webpack-plugin reacts for all changes,
  and it causes EJS recompile and browser reloading
  */ %>
  <% if (process.env.NODE_ENV === 'production') { %>
    <%- include('/../../public/assets/svg/sprite.svg') -%>
  <% } %>
